<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CuentaPalabras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="countWords()"  >
      
      <ion-textarea 
          [(ngModel)]="text" 
          name="text2Count" 
          required 
          placeholder="Escribe tu texto...">
      </ion-textarea>
      
      <ion-button type="submit" expand="block" fill="clear" shape="round">
        Contar
      </ion-button>
      <ion-button (click)="clean()" expand="block" fill="clear" shape="round">
        Borrar
      </ion-button>

  </form>

  <ion-list *ngIf="result.length>0">
    <ion-item *ngFor="let r of result">
      <ion-label>{{r.word}} - {{r.counter}}</ion-label>
    </ion-item>
    <ion-item>
      TOTAL: {{numWords}}
    </ion-item>
  </ion-list>
</ion-content>
